body {
    font-family: "Roboto", sans-serif;
    background: #fafafa;
    height: fit-content;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #DBDBDB;
    background-color: white;
    position:fixed;
    z-index: 101;
}

.barra-do-topo {
    display: flex;
    justify-content: space-between;
    height: 54px;
    margin: auto;
    flex: wrap;
    align-content: center;
    width: 932px;
}

.logo {
    display: flex;
    width: 165px;
    height: 29px;
    justify-content: space-between;
    vertical-align: top;
    margin: auto 0;
}

.logo-texto img{
    width: 103px;
    height: 29px;
    margin: 0;
    padding: 0;
}

img:hover{
    cursor: pointer;
}

ion-icon {
    font-size: 22px;
}

ion-icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.separador{
    width: 1px;
    height: 22px;
    background: #DBDBDB;
}

.barra-de-pesquisa {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto 0;
}

.pesquisar {
    height: 26px;
    width: 215px;
    border:none;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    line-height: 14px;
    background: #FAFAFA;
    outline: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div {
    margin: 0 0 0 22.5px;
}

main {
    display: flex;
    margin: 0 auto;
    width: 932px;
    justify-content: space-between;
    height: fit-content;
    margin-top: 54px;
}

.story-e-feed {
    display: flex;
    flex-direction: column;
    width: 614px;
    height: 1000px;
}

.barra-lateral {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    width: 318px;
    height: max-content;
    margin-left: 614px;
    margin-top: 55px;
    flex-direction: column;
}

.stories {
    width: 614px;
    height: 114px;
    margin-top: 34px;
    margin-bottom: 24px;
    background: white;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    flex-shrink: 0;
}

.story {
    width: 66px;
    text-align: center;
    margin: 0 7px;
}

.story img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.story:first-child {
    margin-left: 18px;
}

.story-borda {
    display: flex;
    width: 66px;
    height: 66px;
    background: url("assets/stories_background.jpg");
    align-items: center;
    background-size: 66px;
    justify-content: center;
    margin-bottom: 6px;
}

.story p {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.story:hover {
    cursor: pointer;
}

.seta-direita {
    position: absolute;
    height: 22px;
    z-index: 2;
    background: white;
    border-radius: 100%;
    margin-left: 579px;
    transform: scale(calc(26/22));
}


.perfil{
    display:flex;
    width:235px;
    margin-left: 28px;
    margin-top: 57px;
}

.foto-perfil img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.nome-e-username{
    width: 182px;
    height: 34px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: initial;
    margin-left: 17px;
    margin-top: 11px;
}

.username {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.username:hover{
    cursor: pointer;
}

.nome{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}


.sugestoes{
    display: flex;
    width: 235px;
    flex-direction: column;
    margin-left: 29px;
}

.sugestoes-texto{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
    margin-top: 29px;
    width: 235px;
}

.sugestao{
    display: flex;
    width: 235px;
}

.foto-sug img{
    width: 32px;
    height: 32px;
    margin-top: 17px;
    border-radius: 16px;
}

.username-sug{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    margin-top: 17px;
    margin-left: 11px;
}

.dono-post:hover{
    cursor: pointer;
}

.username-sug:hover{
    cursor: pointer;
    text-decoration: underline black;
}

.seguir-sug{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
    margin-top: 4px;
    margin-left: 11px;
}

.seguir{
    width: 55px;
    height: 271px;
    margin-top: 29px;
}

.lado-a-lado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.ver-tudo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 29px;
    text-align: right;
}

.seguir-hiperlink{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
    margin-bottom: 37px;
    text-align: right;
}

.texto-cinza{
    width: 300px;
    height: 42px;
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.instagram-do-facebook{
    width: 300px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
    margin-top: 18px;
    margin-left: 30px;
}


.feed {
    display: flex;
    flex-direction: column;
    width: 614px;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}

.feed-barra-superior {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.feed-barra-superior p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: Roboto;
    align-self: center;
}

#reticencia {
    transform: scale(1.5);
}

#reticencia:hover {
    cursor: pointer;
}

.dono-post {
    display: flex;
}

.dono-post:hover {
    cursor: pointer;
}

.dono-post img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}

.feed-conteudo img{
    width: 100%;
}

.feed-icones {
    display: flex;
    justify-content: space-between;
    padding: 0 17.75px;
    margin-top: 13px;
}

.icones-juntos {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.feed-curtidas {
    display: flex;
    margin: 13px 0;
    align-items: center;
}

.feed-curtidas img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 17px;
}

.feed-curtidas strong {
    font-weight: bold;
    margin: 0 2px;
}

.feed-curtidas strong:hover {
    cursor: pointer;
}

.feed-curtidas p {
    display: flex;
    font-size: 14px;
}

.texto-cinza p:hover{
    cursor: pointer;
}

video{
    width: 614px;
}

@media (max-width: 935px) {
    
    main {
        width: 614px;
        align-items: center;
    }

    .barra-lateral {
        display: none;
    }
    
    .barra-do-topo {
        width: 100%;
    }
}

.barra-mobile,
.logo-mobile{
    display: none;
}

@media (max-width: 614px) {

    .barra-de-pesquisa,
    .separador,
    .explore,
    .activity,
    .person-outline{
        display: none;
    }
    .stories ion-icon {
        display: none;
    }

    .feed {
        height: auto;
    }

    .barra-mobile {
        display: flex;
        height: 54px;
        width: calc(100% - 40px);
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .logo,
    .logo-texto,
    .direct{
        display: none;
    }

    .logo-mobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }
    .icons {
        width: 22px;
    }
    
    .direct-mobile{
        margin-right: 18px;
    }

    .logo-mobile{
        margin-left: 18px;
    }
}